<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<bean id="usedResolver" parent="configurationBasedResolver"></bean>

	<bean id="classesDir" class="java.io.File">
		<constructor-arg value="../spring/target/classes/" />
	</bean>

	<bean id="testClassesDir" class="java.io.File">
		<constructor-arg value="../spring/target/test-classes/" />
	</bean>

	<bean id="sourceDir" class="java.io.File">
		<constructor-arg value="./spring/src/" />
	</bean>

	<bean id="assignmentFile" class="java.io.File">
		<constructor-arg value="../TargetConfigurations/spring/2.0.5/assignment.txt" />
	</bean>

	<bean id="testCaseSuffix" class="java.lang.String">
		<constructor-arg value="Test" />
	</bean>

	<bean id="log.filename" class="java.lang.String">
		<constructor-arg value="../TargetConfigurations/spring/2.0.5/mutant.log" />
	</bean>

	<bean id="report.filename" class="java.lang.String">
		<constructor-arg value="../TargetConfigurations/spring/2.0.5/report.xml" />
	</bean>

	<bean id="report.reportSurvivorsOnly" class="java.lang.Boolean">
		<constructor-arg value="true" />
	</bean>

	<util:list id="libraries">
<value>file:../spring/./lib/activemq/activemq-1.1.jar</value>
<value>file:../spring/./lib/ant/ant-junit.jar</value>
<value>file:../spring/./lib/ant/ant-launcher.jar</value>
<value>file:../spring/./lib/ant/ant-trax.jar</value>
<value>file:../spring/./lib/ant/ant.jar</value>
<value>file:../spring/./lib/antlr/antlr-2.7.6.jar</value>
<value>file:../spring/./lib/aopalliance/aopalliance.jar</value>
<value>file:../spring/./lib/asm/asm-2.2.3.jar</value>
<value>file:../spring/./lib/asm/asm-commons-2.2.3.jar</value>
<value>file:../spring/./lib/asm/asm-util-2.2.3.jar</value>
<value>file:../spring/./lib/aspectj/aspectjrt.jar</value>
<value>file:../spring/./lib/aspectj/aspectjtools.jar</value>
<value>file:../spring/./lib/aspectj/aspectjweaver.jar</value>
<value>file:../spring/./lib/aws/spring-aws-ant.jar</value>
<value>file:../spring/./lib/axis/axis.jar</value>
<value>file:../spring/./lib/axis/saaj.jar</value>
<value>file:../spring/./lib/axis/wsdl4j.jar</value>
<value>file:../spring/./lib/bsh/bsh-2.0b4.jar</value>
<value>file:../spring/./lib/c3p0/c3p0-0.9.1.1.jar</value>
<value>file:../spring/./lib/caucho/hessian-3.0.20.jar</value>
<value>file:../spring/./lib/cglib/cglib-nodep-2.1_3.jar</value>
<value>file:../spring/./lib/clover/clover.jar</value>
<value>file:../spring/./lib/commonj/commonj-twm.jar</value>
<value>file:../spring/./lib/concurrent/backport-util-concurrent.jar</value>
<value>file:../spring/./lib/cos/cos.jar</value>
<value>file:../spring/./lib/dom4j/dom4j-1.6.1.jar</value>
<value>file:../spring/./lib/dom4j/jaxen-1.1-beta-7.jar</value>
<value>file:../spring/./lib/easymock/easymock.jar</value>
<value>file:../spring/./lib/easymock/easymockclassextension.jar</value>
<value>file:../spring/./lib/ehcache/ehcache-1.2.4.jar</value>
<value>file:../spring/./lib/fop/fop.jar</value>
<value>file:../spring/./lib/freemarker/freemarker.jar</value>
<value>file:../spring/./lib/glassfish/glassfish-clapi.jar</value>
<value>file:../spring/./lib/groovy/groovy-1.0.jar</value>
<value>file:../spring/./lib/hibernate/hibernate-annotations.jar</value>
<value>file:../spring/./lib/hibernate/hibernate-commons-annotations.jar</value>
<value>file:../spring/./lib/hibernate/hibernate-entitymanager.jar</value>
<value>file:../spring/./lib/hibernate/hibernate2.jar</value>
<value>file:../spring/./lib/hibernate/hibernate3.jar</value>
<value>file:../spring/./lib/hibernate/jboss-archive-browsing.jar</value>
<value>file:../spring/./lib/hsqldb/hsqldb.jar</value>
<value>file:../spring/./lib/httpclient/commons-httpclient-3.0.jar</value>
<value>file:../spring/./lib/httpunit/httpunit.jar</value>
<value>file:../spring/./lib/httpunit/Tidy.jar</value>
<value>file:../spring/./lib/ibatis/ibatis-2.3.0.677.jar</value>
<value>file:../spring/./lib/innovation/HTTPClient-0.3-3.jar</value>
<value>file:../spring/./lib/itext/itext-1.4.8.jar</value>
<value>file:../spring/./lib/j2ee/activation.jar</value>
<value>file:../spring/./lib/j2ee/connector.jar</value>
<value>file:../spring/./lib/j2ee/ejb.jar</value>
<value>file:../spring/./lib/j2ee/jaxrpc.jar</value>
<value>file:../spring/./lib/j2ee/jms.jar</value>
<value>file:../spring/./lib/j2ee/jsp-api.jar</value>
<value>file:../spring/./lib/j2ee/jstl.jar</value>
<value>file:../spring/./lib/j2ee/jta.jar</value>
<value>file:../spring/./lib/j2ee/mail.jar</value>
<value>file:../spring/./lib/j2ee/rowset.jar</value>
<value>file:../spring/./lib/j2ee/servlet-api.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-attributes-api.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-attributes-compiler.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-beanutils.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-codec.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-collections.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-dbcp.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-digester.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-discovery.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-fileupload.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-httpclient.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-io.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-lang.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-logging.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-pool.jar</value>
<value>file:../spring/./lib/jakarta-commons/commons-validator.jar</value>
<value>file:../spring/./lib/jakarta-taglibs/standard.jar</value>
<value>file:../spring/./lib/jamon/jamon-2.4.jar</value>
<value>file:../spring/./lib/jasperreports/jasperreports-1.3.3.jar</value>
<value>file:../spring/./lib/jdo/jdo2-api.jar</value>
<value>file:../spring/./lib/jdom/jdom.jar</value>
<value>file:../spring/./lib/jdt/jdt-compiler-3.1.1.jar</value>
<value>file:../spring/./lib/jets3t/jets3t.jar</value>
<value>file:../spring/./lib/jexcelapi/jxl.jar</value>
<value>file:../spring/./lib/jmock/jmock-cglib.jar</value>
<value>file:../spring/./lib/jmock/jmock.jar</value>
<value>file:../spring/./lib/jmx/jmxremote.jar</value>
<value>file:../spring/./lib/jmx/jmxremote_optional.jar</value>
<value>file:../spring/./lib/jmx/jmxri.jar</value>
<value>file:../spring/./lib/jotm/jotm.jar</value>
<value>file:../spring/./lib/jotm/xapool.jar</value>
<value>file:../spring/./lib/jpa/persistence.jar</value>
<value>file:../spring/./lib/jruby/jruby.jar</value>
<value>file:../spring/./lib/jsf/jsf-api.jar</value>
<value>file:../spring/./lib/jsr250/common-annotations.jar</value>
<value>file:../spring/./lib/junit/junit.jar</value>
<value>file:../spring/./lib/log4j/log4j-1.2.14.jar</value>
<value>file:../spring/./lib/oc4j/oc4j-clapi.jar</value>
<value>file:../spring/./lib/ognl/ognl.jar</value>
<value>file:../spring/./lib/openjpa/openjpa-0.9.7-incubating.jar</value>
<value>file:../spring/./lib/oro/jakarta-oro-2.0.8.jar</value>
<value>file:../spring/./lib/osgi/org.eclipse.osgi_3.1.1.jar</value>
<value>file:../spring/./lib/poi/poi-2.5.1.jar</value>
<value>file:../spring/./lib/portlet/portlet-api.jar</value>
<value>file:../spring/./lib/qdox/qdox-1.5.jar</value>
<value>file:../spring/./lib/quartz/quartz-all-1.6.0.jar</value>
<value>file:../spring/./lib/serp/serp-1.12.1.jar</value>
<value>file:../spring/./lib/struts/struts.jar</value>
<value>file:../spring/./lib/tomcat/catalina.jar</value>
<value>file:../spring/./lib/tomcat/naming-resources.jar</value>
<value>file:../spring/./lib/toplink/toplink-api.jar</value>
<value>file:../spring/./lib/toplink/toplink-essentials.jar</value>
<value>file:../spring/./lib/velocity/velocity-1.5.jar</value>
<value>file:../spring/./lib/velocity/velocity-tools-view-1.3.jar</value>
<value>file:../spring/./lib/xdoclet/xjavadoc-1.1.jar</value>
<value>file:../spring/./lib/xerces/xercesImpl.jar</value>
	</util:list>

</beans>