<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
	<bean id="coverageReport"
		class="com.retroduction.carma.report.generator.html.coverage.CoverageReport">
		<property name="reports">
			<list>
				<ref bean="cov.classReport"></ref>
			</list>
		</property>
	</bean>
	<bean id="reportgenerator.classSnippetReporter"
		class="org.retroduction.carma.reportgenerator.reporter.ClassSnippetReporter" />
	<bean id="reportgenerator.resources"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="classpath:/" />
	</bean>
</beans>