<?xml version="1.0" encoding="UTF-8"?>

<beans default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">



	<bean id="coverageReport"
		class="com.retroduction.carma.report.generator.html.coverage.CoverageReport">
		<property name="reports">
			<list>
				<ref bean="cov.indexReport"></ref>
				<ref bean="cov.packagesReport"></ref>
				<ref bean="cov.packageSummaryReport"></ref>
				<ref bean="cov.classListReport"></ref>
				<ref bean="cov.classReport"></ref>
				<ref bean="cov.overviewReport"></ref>

			</list>
		</property>
		<property name="resourceProviders">
			<list>
				<ref bean="stylesheets"></ref>
				<ref bean="icons"></ref>
				<ref bean="MochiKit"></ref>
				<ref bean="tooltip"></ref>
			</list>
		</property>
	</bean>

	<bean id="stylesheets"
		class="com.retroduction.carma.report.generator.html.coverage.StyleSheetProvider">
		<property name="baseDir" value="css"></property>
		<property name="resources">
			<list>
				<value>main.css</value>
				<value>sources.css</value>
			</list>
		</property>
	</bean>

	<bean id="icons"
		class="com.retroduction.carma.report.generator.html.coverage.StyleSheetProvider">
		<property name="baseDir" value="icons"></property>
		<property name="resources">
			<list>
				<value>nomutations.gif</value>
				<value>untested.gif</value>
				<value>bad.gif</value>
				<value>medium.gif</value>
				<value>good.gif</value>
			</list>
		</property>
	</bean>

	<bean id="MochiKit"
		class="com.retroduction.carma.report.generator.html.coverage.StyleSheetProvider">
		<property name="baseDir" value="js/MochiKit"></property>
		<property name="resources">
			<list>
				<value>Visual.js</value>
				<value>Test.js</value>
				<value>Signal.js</value>
				<value>MockDOM.js</value>
				<value>MochiKit.js</value>
				<value>LoggingPane.js</value>
				<value>Logging.js</value>
				<value>Iter.js</value>
				<value>Format.js</value>
				<value>DOM.js</value>
				<value>DateTime.js</value>
				<value>Color.js</value>
				<value>Base.js</value>
				<value>Async.js</value>
				<value>__package__.js</value>
			</list>
		</property>
	</bean>

	<bean id="tooltip"
		class="com.retroduction.carma.report.generator.html.coverage.StyleSheetProvider">
		<property name="baseDir" value="js/tooltip"></property>
		<property name="resources">
			<list>
				<value>wz_tooltip.js</value>
			</list>
		</property>
	</bean>


	<bean id="cov.classReport"
		class="com.retroduction.carma.report.generator.html.coverage.ClassReport"
		p:reportCreator-ref="cov.singleClassReportCreator" />

	<bean id="cov.overviewReport"
		class="com.retroduction.carma.report.generator.html.coverage.OverviewReport"
		p:chartCreator-ref="barChartCreator" />

	<bean id="cov.indexReport"
		class="com.retroduction.carma.report.generator.html.coverage.IndexReport" />

	<bean id="cov.packagesReport"
		class="com.retroduction.carma.report.generator.html.coverage.PackagesReport" />

	<bean id="cov.packageSummaryReport"
		class="com.retroduction.carma.report.generator.html.coverage.PackageSummaryReport" />


	<bean id="cov.classListReport"
		class="com.retroduction.carma.report.generator.html.coverage.ClassListReport"
		p:classInfoCreator-ref="classInfoCreator" />


	<bean id="cov.singleClassReportCreator"
		class="com.retroduction.carma.report.generator.html.coverage.SingleClassReportCreator"
		p:coverageInfoCreator-ref="classInfoCreator" />

	<bean id="classInfoCreator"
		class="com.retroduction.carma.report.generator.reportobjects.ClassCoverageInfoCreator" />

	<bean id="barChartCreator"
		class="com.retroduction.carma.report.generator.chart.CoverageBarChartCreator" />


</beans>