html { 
	background-color: grey;
	font-family: Verdana;
	font-size:75%;
	width: 100%;
}

body {
	width: 100%;
	color: white;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

a {
	text-decoration: underline;
	color: white;
}

.breadcrumb {
	font-size: 75%;
	color: white;
	background-color: black;
	padding: 5 5 5 5;
	margin: 0 0 25 0;
}

table {
	font-size: 100%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

table thead {
	background-color: black;
}

.covered_killed {
	background-color: green;
	float:left;
}

.covered_survived {
	background-color: red;
	float:left;
}

.uncovered {
	float:left;
}

.code {
	font-family: Courier;
	background-color: blue;
	float:block;
}

.lineNo {
	font-family: Courier;
	background-color: silver;
	float:block;
}

.codeTable {
	background-color: lightgrey;
	font-family: Courier;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	float:block;
}

.descriptionTable {
	font-size: 50%;
	background-color: white;
	border-width: 1px 0px 1px 0px;
	border-style: solid; float:block;
	}

.footer {
	background-color: black;
	color: white;
	font-size:75%;
	width: 100%;
	padding: 5 5 5 5;
	margin: 25 0 0 0;
}
